<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="indi.toaok.imageloder">

    <!--网络状态权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--读外部文件权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--写外部文件权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <!--Glide Start-->
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />
        <!--Glide End-->
    </application>
</manifest>
